@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
$BgColor: azure;
$fontColor: #fa81aa;
$FontSize: 5vh;
$ButtonColor: #dab5e1;
* {
    font-family: "Reem Kufi", sans-serif;
    margin: 0;
}

body {
    /*   background-color: $BgColor; */
    overflow-y: hidden;
    overflow-x: hidden;
}

header {
    background-color: #b3ebe4;
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: $FontSize;
    margin-bottom: 2vh;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.459));
    img {
        margin-left: 5%;
        height: 7.5vh;
        width: 10%;
        animation: spin 5s infinite;
        filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.459));
    }
    h1 {
        position: absolute;
        left: 33.33%;
        left: 33.33%;
        font-size: 70%;
        color: purple;
        filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.459));
        text-align: center;
        width: 33.33%;
    }
    p {
        width: 17%;
        font-size: 37%;
        text-align: justify;
    }
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    .Usuarios {
        margin-top: 5vh;
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        img {
            height: 15vh;
            width: 15vh;
            filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.459));
        }
        img:hover {
            animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }
    }
    form,
    #form2 {
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        font-size: 100%;
        .MuiInputAdornment-positionEnd input {
            border: 2px solid purple;
            outline-color: purple;
        }
        #Login {
            background-color: purple;
            width: 90%;
            border: 2px solid black;
            border-radius: 10px;
            box-shadow: 0 3px 5px 2px grey;
            color: white;
            font-size: 3vh;
            font-weight: 700;
            height: 8vh;
            padding: 0 30px;
            margin-top: 4vh;
            filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.459));
        }
        #Login:hover {
            background-color: $fontColor;
            color: purple;
            border: 2px solid #800080;
            animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }
    }
}

#form2 {
    margin: 0 auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    font-size: 100%;
    .MuiInputAdornment-positionEnd input {
        border: 2px solid purple;
        outline-color: purple;
    }
    #Login {
        background-color: purple;
        width: 90%;
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: 0 3px 5px 2px grey;
        color: white;
        font-size: 3vh;
        font-weight: 700;
        height: 8vh;
        padding: 0 30px;
        margin-top: 4vh;
        filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.459));
    }
    #Login:hover {
        background-color: $fontColor;
        color: purple;
        border: 2px solid #800080;
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }
}

#desayunoButttons {
    margin-left: 59vw;
    margin-top: 5vh;
    width: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    Button {
        width: 17vw;
        color: white;
        margin-bottom: 3vh;
        margin-left: 2vw;
        height: 9vh;
        font-size: auto;
        font-weight: bolder;
        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.459));
        -webkit-text-fill-color: rgb(243, 240, 243);
        -webkit-text-stroke: 0.3px rgba(128, 0, 128, 0.377);
        border-color: rgba(128, 0, 128, 0.089);
        border-radius: 1.5vw;
        border-style: solid;
        border-width: 0.5vw;
        line-height: 3vh;
        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.459));
    }
}

#regresarMenu2 {
    top: 87vh;
    ;
    position: absolute;
    width: 16vw;
    height: 5vh;
    left: 81vw;
    color: white;
    font-size: 120%;
    font-weight: 700;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.459));
    border-radius: 1.5vw;
}

#cancelar {
    top: 87.7vh;
    ;
    position: absolute;
    width: 16vw;
    height: 5vh;
    left: 22vw;
    font-size: 120%;
    font-weight: 700;
    color: black
}

#comandaButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1vw;
}

#enviarOrden {
    top: 88.2vh;
    ;
    position: absolute;
    width: 16vw;
    height: 4vh;
    left: 5vw;
    color: white;
    font-size: 120%;
    font-weight: 700;
    border-radius: 1.5vw;
    background-color: #b3ebe4;
    border-color: rgba(0, 98, 128, 0.089);
    border-radius: 1.5vw;
    border-style: solid;
    border-width: 0.3vw;
    color: purple;
    #clientName {
        height: 1.5vh;
    }
}

.container {
    display: grid;
    width: 100vw;
    height: 70vh;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5vh;
    column-gap: 1vw;
    margin: 0 auto;
    ;
    Button {
        background-color: $ButtonColor;
        width: 20vw;
        height: 10vh;
        color: white;
        font-size: 3.3vh;
        font-weight: 700;
        margin: 0 auto;
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 1px rgba(128, 0, 128, 0.438);
        border-color: rgba(128, 0, 128, 0.377);
        border-radius: 1.5vw;
        border-style: solid;
        border-width: 0.5vw;
        line-height: 3vh;
        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.459));
    }
}

#MenuH1 {
    margin-top: 2vh;
    font-size: 250%;
    text-align: center;
    width: auto;
}

#Comanda {
    height: 70vh;
    width: 55.5vw;
    background-color: #debef12f;
    position: absolute;
    margin-left: 2.5vw;
    border: solid 4px #B3EBE4;
    border-top: none;
    top: 17.3vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#cliente {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $ButtonColor;
    height: 5.5vh;
    width: 55.5vw;
    margin-left: 2.5vw;
    top: 12vh;
    position: absolute;
    border: solid 4px #B3EBE4;
    z-index: 1;
    h2 {
        color: purple;
        filter: drop-shadow(0 1.5px 1.5px rgba(0, 0, 0, 0.459));
    }
    .comandInput {
        background-color: white;
        border-radius: .5vw;
    }
}

#Total {
    position: absolute;
    width: 55.5vw;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: $ButtonColor;
    height: 4.5vh;
    top: 87.6vh;
    left: 2.5vw;
    border: solid 4px #B3EBE4;
    h2 {
        width: 20%;
        color: purple;
        text-align: left;
        filter: drop-shadow(0 1.5px 1.5px rgba(0, 0, 0, 0.459));
    }
    h3 {
        width: 12%;
        color: purple;
        text-align: left;
        filter: drop-shadow(0 1.5px 1.5px rgba(0, 0, 0, 0.459));
    }
}

#orderContainer {
    display: grid;
    width: 95%;
    height: 90vh;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0.5vh;
    column-gap: 1vw;
}

#orden {
    #orderHeader {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    margin: auto 0;
    width: 98%;
    height: 40vh;
    background-color: #e1ceec2f;
    box-shadow: 0 3px 5px 2px grey;
}

#modalButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3vh;
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 2px, 0) rotate(-1deg);
    }
    20%,
    80% {
        transform: translate3d(2px, 4px, 0) rotate(3deg);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 6px, 0) rotate(-5deg);
    }
    40%,
    60% {
        transform: translate3d(4px, 8px, 0) rotate(8deg);
    }
}